body
{
    font-family: "Raleway", sans-serif;
}

footer
{
    display: flex;
    background: #f2f2f2;
    position: absolute;
    bottom: 2px;
    right: 2px;
    left: 2px;

}

.footerlink
{

  text-decoration: none;
    color: black;  
}

.title_footer
{
    font-weight: bolder;
    font-size: 1.16em;
    margin-inline-start: 2.5em;
    padding-left: 0.4em;
    padding-top: 1.2em;
}

li
{
    list-style: none;
    padding-bottom: 0.9em;
    padding-right: 10em;
    padding-left: 0.8em;
    font-size: 1em;
}

@media screen and (max-width:610px)
{

footer
{
    flex-direction: column;
    position: absolute;
    bottom: 2px;   
    right: 2px;
    left: 2px;
    height: auto;
    width: auto;
    flex-wrap: nowrap;

}

li
{
   padding-bottom: 3%; 
   font-size: 0.86em;
   margin-left: -1em; 
   
}

.title_footer
{
    padding-top: 0em;
    margin-left:1.6em; 
}


}


@media only screen and (min-width:600px) and (max-width:999px)
{

li
{
    padding-right: 0em;

}

}

